/*************************TAG SELECTOR**************************/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  color: #66BFBF;
  font-family: Sacramento,cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto ;

}
h2{
  font-family: Montserrat,sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: Montserrat,sans-serif;
  color: #11999E
}

/*************************CLASS SELECTOR**************************/
.top-Container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: #66AFBF;
  padding: 50px 0 20px;
}
.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position: absolute;
  right:400px;
  top: 55px;
}
.span-1{
  text-decoration: underline;
}
.footer-link{
  color: #11999E;
  text-decoration: none;
  font-family: Montserrat,sans-serif;
  margin: 10px 20px;
}
.footer-link:hover{
  color: #eaf6f6;
}
.skill-row{
  line-height: 2;
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.skill-img-1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-img-2{
  width: 25%;
  float: right;
}
.section-line{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  height: 0;
  width: 5%;
  border-width: 10px;
  margin: 100px auto;
}
.my-info{
  color: #40514E;
  width: 30%;
  margin: auto;
}
.skill-description-1{
  color: #40514E
}
.skill-description-2{
  color: #40514E
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;  /* if dont understand this go to mdn website for margin */
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top,#11cdd4,#11999e);
  border-radius: 8px;
  font-family: 'Merriweather',serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -ms-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -o-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -linear-gradient(to bottom,#30e3cb,#2bc4ad);
  text-decoration: none;
}


/*************************ID SELECTOR**************************/
#myDp{
  height: 200px;
}
#below-heading-h1{
  font-weight: normal;
}
#copyright-tag{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}
#last-h3{
  margin-bottom: 30px;
}
